/*  Flexbox Frameset 

    Klassen für den Obercontainer (Flexbox): 
    
    .flexbox
    - Definiert den Obercontainer

    .mobile/.desktop-direction-row & -column 
    - Stellt den Container auf horizontale oder 
      vertikale Ausrichtung je für mobile oder desktop

    Klassen für Untercontainer:
    .mobile- & .desktop- + Breite in Prozent.

    Supportklassen:
    .mobile-/.desktop-gap-x 
    - Steuert den Abstand zwischen Untercontainern in 8er Schritten

    .mobile-/.desktop-padding-x
    - Steuert das padding von Untercontainern in 8er Schritten

    .mobile-/.desktop-hidden 
    - Versteckt den Container in seinem definierten Bereich,
    beläßt ihn sichtbar in allen anderen Bereichen.

    .mobile-/.desktop-auto
    - Variabler Container als Füller wenn man vorweg einen Container
    mit fester Breite benutzt hat.

*/

/*  Klassen für den Obercontainer */
.flexbox {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

/*  Klassen für Container innerhalb des
    Obercontainers 
*/
.mobile-100 {
  width: 100%;
}
.mobile-75 {
  width: 75%;
}
.mobile-50 {
  width: 50%;
}
.mobile-25 {
  width: 25%;
}
.mobile-80 {
  width: 80%;
}
.mobile-60 {
  width: 60%;
}
.mobile-40 {
  width: 40%;
}
.mobile-20 {
  width: 20%;
}
.mobile-66 {
  width: 66.666%;
}
.mobile-33 {
  width: 33.3334%;
}
/*  Support Klassen */
.mobile-padding-8px {
  padding: 8px;
}
.mobile-padding-16px {
  padding: 16px;
}
.mobile-padding-24px {
  padding: 24px;
}
.mobile-padding-32px {
  padding: 32px;
}

.mobile-gap-8 {
  gap: 8px;
}
.mobile-gap-16 {
  gap: 16px;
}
.mobile-gap-24 {
  gap: 24px;
}
.mobile-gap-32 {
  gap: 32px;
}

.mobile-height-50vh {
  min-height: 50vh;
}

.container {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 50%;
  border: 1px solid;
  padding: 20px;
  box-shadow: 5px 5px 8px 5px #888888;
  border-radius: 4px;
}

/*  Klassen für den Desktop Breakpoint.
    Erst "aktiv", wenn die Breite des Viewports größer 
    als 600 Pixel ist.
*/
@media (min-width: 600px) {
  .desktop-100 {
    width: 100%;
  }
  .desktop-75 {
    width: 75%;
  }
  .desktop-50 {
    width: 50%;
  }
  .desktop-25 {
    width: 25%;
  }
  .desktop-80 {
    width: 80%;
  }
  .desktop-60 {
    width: 60%;
  }
  .desktop-40 {
    width: 40%;
  }
  .desktop-20 {
    width: 20%;
  }
  .desktop-66 {
    width: 66.666%;
  }
  .desktop-33 {
    width: 33.333%;
  }
  .desktop-250px {
    width: 250px;
  }
  /* Support Klassen */
  .desktop-gap-8 {
    gap: 8px;
  }
  .desktop-gap-16 {
    gap: 16px;
  }
  .desktop-gap-24 {
    gap: 24px;
  }
  .desktop-gap-32 {
    gap: 32px;
  }
  .desktop-padding-8px {
    padding: 8px;
  }
  .desktop-padding-16px {
    padding: 16px;
  }
  .desktop-padding-24px {
    padding: 24px;
  }
  .desktop-padding-32px {
    padding: 32px;
  }
}

/*    Klassen die _NUR_ aktiv werden, wenn der Viewport
      kleiner als 599 Pixel ist. 
      Wichtig, um hier keine "Allgemeingültigkeit"
      wie bei den normalen mobile-* Definitionen zu erzeugen, 
      sondern die eingeschlossenen Klassen nur zu aktivieren wenn 
      die Bedingung kleiner/gleich 599 Pixel erfüllt ist.    
*/
@media (max-width: 599px /*600px*/) {
  .mobile-hidden {
    display: none !important;
  }
  .mobile-direction-row {
    /* default */
    flex-direction: row;
  }
  .mobile-direction-column {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .mobile-auto {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

@media (min-width: 600px) {
  .desktop-hidden {
    display: none !important;
  }
  .desktop-direction-row {
    /* default */
    flex-direction: row;
  }
  .desktop-direction-column {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .desktop-auto {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
