* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial;
    line-height: 1.6;
    background-color: #F7F4E6;
    color: rgb(49, 27, 79);

  }


     /* Navigationsleiste --------------------------------------------------------------------------------------*/
   /* .top-nav {
     position: sticky;
     top: 0;
     margin: 0;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     background-color: #00f020;
     background: linear-gradient(to left, #4f3c70, #de88a5);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* color: #fff;
     height: 50px;
     padding: 1em;
   }  */
  header {
    background: linear-gradient(to right, #529AD6, #C0E9EF);
    color: #875767;
  }
/*top-nav{
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}*/

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #529AD6;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  color: #D6EFE1;
  text-align: left;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-size: 17px;
}
.navbar ul {
  list-style-type: none;
}
.navbar li {
  display: inline-block;
}
/* Change the color of links on hover */
.navbar li:hover {
  background-color: #ddd;
  color: #de88a5;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #FCDEE0;
  color: #272132;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #311b4f;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #1a1717;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #272132;
    background: linear-gradient(to right, #78c0e0, #facbd3);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* Ende Navigationsleiste --------------------------------------------------------------------------------------*/


  h1 {
    text-align: center;
    font-family: "helvetica";
    color: #311b4f;
  }

.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

  .welcome {
    color: #875767;
  }
  /* BUTTON DESIGN ----------------------------------- */
  input[type=submit] {
    background-color: rgb(82, 154, 214);
    border: none;
    color: rgb(49, 27, 79);
    padding: 8px 16px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  /*auflisten keine punkte*/
  ul li{
    text-decoration: none;
    list-style: none;
  }

  /* ***** Tabelle Termine Design ***** ------------ */
  .termine {
    margin: 32px 42px 24px 42px;
    border:3px solid;
    border-color: #E14049;
    background-color: #FCDEE0;
    color: #272132;

  }
table, th, td{
  border: 1px solid #F7F4E6;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  color: #272132;
  padding: 10px;
}
table {
  border: 2px solid #875767;
  box-shadow: 5px 10px 10px #875767;
  border-radius: 5px;
}
th {
  background-color: #E14049;
  color: #F7F4E6;
}
table tr:nth-child(even){
  background-color: #C0E9EF;
}
table tr:nth-child(odd){
  background-color: #F7C8CF;
}
.kalendereintrag {
  max-width:1160px;
  margin: auto;
  border: 1px;

}
.welcome{
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}
h2 {
  margin-right: auto;
  margin-left: auto;
}
/* ********* Login Design *************************************** */


.info {
  font-size: x-small;
}